body{
  background: #F8F8FB;
}
.container{
  margin: auto;
}

@media (min-width: 576px) and (max-width: 1920px) {
  .container {
    max-width: calc(100% - 80px);
  }
}

picture img{
  max-width: 100%;
  height: auto;
}
.bg-red{
  background: #9F212C;
}
.text-red{
  color: #A0222C;
}
