
body{
  background: #F8F8FB;
  font-family: var(--font-inter);
  font-display: swap;
  /* overflow-x: hidden; */
}
.container{
  margin: auto;
}

@media (min-width: 576px) and (max-width: 1920px) {
  .container {
    max-width: calc(100% - 80px);
  }
}
.section-padding{
  padding: 80px 0;
}
main{
  min-height: 70vh;
}
picture img{
  max-width: 100%;
  height: auto;
}
.bg-red{
  background: #9F212C;
}
.text-red{
  color: #A0222C;
}
