

@font-face {
  font-family: "Brittany Signature";
  src: url(/fonts/BrittanySignature.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Optima LT Regular';
  src: url("/fonts/Optima LT Regular.ttf");
  font-display: swap;
}
.optima-font{
  font-family: 'Optima LT Regular';
}
.brittany-font {
  font-family: "Brittany Signature";
}

body{
  background: #F8F8FB !important;
  font-family: var(--font-inter);
  font-display: swap;
  /* max-width: 1920px; */
  margin: auto;
  overflow-x: hidden;
}
.container{
  margin: auto;
}
.navbar>.container{
  flex-wrap: nowrap !important;
}

.section-padding{
  padding: 40px 0;
}
@media (min-width:768px) {
  .section-padding{
    padding: 60px 0;
  }
}

@media (min-width:1020px) {
  .section-padding{
    padding: 80px 0;
  }
}


@media (min-width: 1400px)
{
  .container{
    max-width: calc(100% - 100px);
  }
}
main{
  min-height: 90vh;
}
.form-control:focus{
box-shadow: none !important;
border: 1px solid #E8E8E8;

}
picture img{
  max-width: 100%;
  width: 100%;
  height: auto;
}

.bg-red{
  background: #9F212C !important;
}
.text-red{
  color: #A0222C !important;
}




.text-black{
  color: #000 !important;
}

.text-gold{
  color: #C0832B !important;
}

.text-white{
  color: #FFF !important;
}



.z-index-9999{
  z-index: 9999;
}
.slick-slide img {
width: 100%;
}



.contact-required{
  font-size: 12px;
  padding-left: 5px;
}



/* .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #A0222C;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }  */


  .splide__track--nav>.splide__list>.splide__slide.is-active{
    border: none !important;
  }