.main-banner-section picture img{
    max-width: 100%;
    height: auto;
    width: 100%;
}


@media (max-width:600px) {
    .main-banner-section picture img{
        min-height: 550px;
    }
    }  


.main-banner-section .splide{
    max-width: 100%;
}

.main-banner-section .splide__arrows{
    display: none;
   }
   @media (min-width:768px) {
    .main-banner-section .splide__arrows{
           display: block;
          }
   }
