.our-story-title{
    color: #A0222C;
    font-family: var(--font-inter);
    font-size: 38px;
    font-style: normal;
    font-weight: 300;
    line-height: 109%; /* 49.05px */
}


.our-story-text{
    color: #747474;
font-family: var(--font-inter);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 138%; /* 19.32px */
}



@media (min-width:768px) {
    .our-story-title{
        color: #A0222C;
        font-family: var(--font-inter);
        font-size: 52px;
        font-style: normal;
        font-weight: 300;
        line-height: 109%; /* 87.2px */
    }
    
    
    .our-story-text{
        color: #747474;
        font-family: var(--font-inter);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 138%; /* 27.6px */
    }
    
}




.our-story-section2{
    background: #F2EBE4;
}


.our-story-section2_stars{
    min-width: 100px;
    max-width: 150px;
    width: 100%;
    height: auto;
}




.ourstory-section5{
    background: #9F212C;
}



.ourstory-section5_title{
    color: #F7C676;
    text-align: center;
    font-family: Playfair Display;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 127.5%; /* 38.25px */
}
.ourstory-section5_text{
    color: #EFD8C8;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.5%; /* 22.95px */
}


@media (min-width:768px) {
    
.ourstory-section5_title{
    color: #F7C676;
text-align: center;
font-family: Playfair Display;
font-size: 54px;
font-style: italic;
font-weight: 400;
line-height: 127.5%; /* 68.85px */
}
.ourstory-section5_text{
    color: #EFD8C8;
text-align: right;
font-family: var(--font-inter);
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 127.5%; /* 30.6px */
}
}