@font-face {
  font-family: "Helvetica Neue";
  src: url(/fonts/Helvetica-Neue/HelveticaNeueLight.otf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(/fonts/Helvetica-Neue/HelveticaNeueMedium.otf);
  font-weight: 600;
  font-display: swap;
}

.FeedBackForm {
  color: #473677;
  font-family: "Helvetica Neue";
}

.FeedBackForm .form-main-title {
  background: linear-gradient(90deg, #682884 0%, #cc75a9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.FeedBackForm .alt-color {
  color: #cc75a9;
}
.FeedBackForm .progressBar {
  width: 8px;
  height: 200px;
  background-color: #cbcbcb;
  border-radius: 5px;
  margin-bottom: 20px;
}

.FeedBackForm .progressBar {
  rotate: -90deg;
}
.progressBar::before{
  content: "1";
  position: absolute;
  top: -30px;
  left: 0%;
  rotate: 90deg;
  font-size: 20px;
  
}

.progressBar::after{
  content: "4";
  position: absolute;
  bottom: -30px;
  right: 0%;
  rotate: 90deg;
  font-size: 20px;

}

@media (min-width: 768px) {
  .progressBar::before{
    top: -30px;
    left: -50%;
    rotate: 0deg;
  }
  .progressBar::after{
    content: "4";
    position: absolute;
    bottom: -30px;
    right: -50%;
    rotate: 0deg;
    
  }
  .FeedBackForm .progressBar {
    rotate: 0deg;
  }
}
.FeedBackForm .progress {
  height: 100%;
  background-color: #473677;
  border-radius: 5px;
}

.FeedBackForm button {
  color: #473677;
  background-color: transparent;
  border-radius: 5.052px;
  border: 1.5px solid #682884;
  height: 42px;
  padding: 0 30px;
}
.FeedBackForm button:hover {
  color: #fff;
  background: linear-gradient(270deg, #cc75a9 0%, #682884 100%);
}

.form_buttons-wrapper {
  border-top: 1px solid #5e5d7f;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.FeedBackForm label {
  color: #473677;
  margin-bottom: 6px;
}
.FeedBackForm .form-control::placeholder {
  color: #9f9b9b;
}
.FeedBackForm .form-control {
  color: #9f9b9b;
}
.FeedBackForm .form-control {
  border-radius: 5.052px;
  border: 1.263px solid #cbcbcb;
  height: 56.84px;

  background: #fff;
}

.radio-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, auto));
  gap: 10px;
}
.radio-items-grid input {
  display: none;
}
.yes-no-toggle{
  cursor: pointer;
}
.radio-items-grid label {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #473677;
  justify-content: center;
  border-radius: 13.265px;
  border: 1.658px solid #efefef;
  background: #fff;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  font-weight: 500;
  flex-shrink: 0;
  box-shadow: 1.658px 1.658px 3.316px 0px rgba(255, 255, 255, 0.3) inset,
    -1.658px -1.658px 3.316px 0px rgba(230, 230, 230, 0.5) inset,
    -8.291px 8.291px 16.581px 0px rgba(230, 230, 230, 0.2),
    8.291px -8.291px 16.581px 0px rgba(230, 230, 230, 0.2),
    -8.291px -8.291px 16.581px 0px rgba(255, 255, 255, 0.9),
    8.291px 8.291px 21.555px 0px rgba(230, 230, 230, 0.9);
}

input[type="radio"]:checked + label {
  border-radius: 13.265px;
  color: #fff;
  border: 1.658px solid #efefef;
  background: #cc75a9;
  box-shadow: 1.658px 1.658px 3.316px 0px rgba(255, 255, 255, 0.3) inset,
    -1.658px -1.658px 3.316px 0px rgba(230, 230, 230, 0.5) inset,
    -8.291px 8.291px 16.581px 0px rgba(230, 230, 230, 0.2),
    8.291px -8.291px 16.581px 0px rgba(230, 230, 230, 0.2),
    -8.291px -8.291px 16.581px 0px rgba(255, 255, 255, 0.9),
    8.291px 8.291px 21.555px 0px rgba(230, 230, 230, 0.9);
}

input[type="radio"] + label:hover {
  border-radius: 13.265px;
  color: #fff;
  border: 1.658px solid #efefef;
  background: #cc75a9;
  box-shadow: 1.658px 1.658px 3.316px 0px rgba(255, 255, 255, 0.3) inset,
    -1.658px -1.658px 3.316px 0px rgba(230, 230, 230, 0.5) inset,
    -8.291px 8.291px 16.581px 0px rgba(230, 230, 230, 0.2),
    8.291px -8.291px 16.581px 0px rgba(230, 230, 230, 0.2),
    -8.291px -8.291px 16.581px 0px rgba(255, 255, 255, 0.9),
    8.291px 8.291px 21.555px 0px rgba(230, 230, 230, 0.9);
}
