.product-items{
    display: grid;
    column-gap: 8px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    justify-content: center;
}
.product-item{
    font-size: 11px;
}
.product-item button{
    border-radius: 3.871px;
background: linear-gradient(90deg, #A0222C 0%, #C79144 100%) !important;
color: #FFF !important;
font-size: 10px;
display: flex;
gap: 5px;
align-items: center;
border: none;
text-transform: uppercase;
}

@media (min-width:768px) {
    .product-items{
        display: grid;
        gap: 20px;
        row-gap: 30px;
        grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    }
    .product-item{
        font-size: 12px;
    }
    .product-item button{
    font-size: 12px;
    }
}

.collection-section .breadcrumbs{
    font-size: 12px;
}


.page-item a{
    color: #a0222c !important;
    box-shadow: none !important;

}
.page-item.active a{
    background: linear-gradient(90deg, #a0222c 0%, #c79144 100%) !important;
    border: none;
    color: #fff !important;
    box-shadow: none !important;
}


